.navbar {
  border: 2px solid #d1cfcb;
  border-radius: 15px;
  height: 60px;
  padding: 0;
}

a.nav-link {
  font-size: 0.8rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
