.sidebar {
  border: 2px solid #d1cfcb;
  border-radius: 15px;
  height: auto;
  padding: 0;
}

a.nav-link {
  font-size: 11px;
  font-family: "Courier New", Courier, monospace;
  color: black;
  text-align: left;
  padding: 5px;
}
